<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="fr.inria.atlanmod.kyanos.core.impl.KyanosResourceFactoryImpl"
            protocolName="kyanos">
      </parser>
   </extension>

</plugin>
