<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.inria.atlanmod.neo4emf.ui.editors.Neo4emfEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.emf.edit/icons/full/obj16/ModelFile.gif"
            id="fr.inria.atlanmod.neo4emf.ui.Neo4emfEditor"
            name="Neo4EMF Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.importer.modelImporterDescriptors">
      <modelImporterDescriptor
            description="Create the Ecore model based on other Ecore or EMOF models"
            extensions="ecore,emof"
            icon="icons/full/obj16/Neo4emfModelFile.gif"
            id="fr.inria.atlanmod.neo4emf.ui.modelImporterDescriptor"
            name="Ecore model (Neo4EMF Native)"
            wizard="fr.inria.atlanmod.neo4emf.ui.wizards.Neo4emfModelImporterWizard">
      </modelImporterDescriptor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="&amp;Neo4EMF">
            <command
                  commandId="fr.inria.atlanmod.neo4emf.ui.migrate"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="genmodel">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.inria.atlanmod.neo4emf.ui.openDB"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IFolder">
                           <test
                                 property="fr.inria.atlanmod.neo4emf.ui.isNeo4JDB"
                                 value="true">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="fr.inria.atlanmod.neo4emf.ui.createDynamicInstance"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EClass">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.inria.atlanmod.neo4emf.ui.commands.MigrateCommand"
            id="fr.inria.atlanmod.neo4emf.ui.migrate"
            name="&amp;Migrate EMF Generator Model">
      </command>
      <command
            defaultHandler="fr.inria.atlanmod.neo4emf.ui.commands.OpenNeo4emfDbCommand"
            id="fr.inria.atlanmod.neo4emf.ui.openDB"
            name="&amp;Open Model Database">
      </command>
      <command
            defaultHandler="fr.inria.atlanmod.neo4emf.ui.commands.CreateDynamicInstanceCommand"
            id="fr.inria.atlanmod.neo4emf.ui.createDynamicInstance"
            name="Create &amp;Neo4EMF Dynamic Instance...">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fr.inria.atlanmod.neo4emf.ui.tester.Neo4JDatabase"
            id="fr.inria.atlanmod.neo4emf.ui.isNeo4JDB"
            namespace="fr.inria.atlanmod.neo4emf.ui"
            properties="isNeo4JDB"
            type="org.eclipse.core.resources.IFolder">
      </propertyTester>
   </extension>
</plugin>
