<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mgraph -->
      <package
            uri="http://test.data/1.1"
            class="fr.inria.atlanmod.neo4emf.testdata.TestPackage"
            genModel="model/TestData.genmodel"/>
   </extension>

</plugin>
