### Windows

**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/*.lnk

### OSX

**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/Icon
**/._*

### Linux

**/*~

### JetBrains

**/.idea/
**/*.iml
**/*.iws

### NetBeans

**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/nbactions.xml
**/.nb-gradle/

### Eclipse

**/.metadata
**/.settings/
**/.loadpath
**/.recommenders

# Eclipse Core
**/.project

# External tool builders
**/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
**/*.launch

# JDT-specific (Eclipse Java Development Tools)
**/.classpath

# Code Recommenders
**/.recommenders/

### Maven

**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties

### Others

**/*.log
**/java-gen/

.gitignore
**.md
**.yml
**.html

.git
.util
examples
plugins

### Docker
!Dockerfile