<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="neo4jRuntimes" name="Neo4J Runtimes" schema="schema/neo4jRuntimes.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="fr.inria.atlanmod.neo4emf.impl.Neo4emfResourceFactory"
            protocolName="neo4emf">
      </parser>
   </extension>
</plugin>
