<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="neo4jInstallers" name="Neo4J Library Installer" schema="schema/neo4jInstallers.exsd"/>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.inria.atlanmod.neo4emf.neo4jresolver.preferences.Neo4JRuntimesPreferencePage"
            id="fr.inria.atlanmod.neo4emf.neo4jresolver.preferences.Neo4JRuntimesPreferencePage"
            name="Neo4J Runtimes">
      </page>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="fr.inria.atlanmod.neo4emf.neo4jresolver.refactoring.Neo4JProjectDeleteParticipant"
            id="fr.inria.atlanmod.neo4emf.neo4jresolver.deleteParticipant"
            name="Neo4J Runtime Delete Resource">
      </deleteParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="fr.inria.atlanmod.neo4emf.neo4jresolver.MoveParticipant1"
            id="fr.inria.atlanmod.neo4emf.neo4jresolver.moveParticipant1"
            name="Neo4J Runtime Mocve Resource">
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="fr.inria.atlanmod.neo4emf.neo4jresolver.RenameParticipant1"
            id="fr.inria.atlanmod.neo4emf.neo4jresolver.renameParticipant1"
            name="Neo4J Runtime Rename Resource">
      </renameParticipant>
   </extension>
</plugin>
