<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JDTAST -->
      <package
            uri="org.amma.dsl.jdt.core"
            class="Core.CorePackage"
            genModel="model/JDTAST.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JDTAST -->
      <package
            uri="org.amma.dsl.jdt.dom"
            class="DOM.DOMPackage"
            genModel="model/JDTAST.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated JDTAST -->
      <package
            uri="org.amma.dsl.jdt.primitiveTypes"
            class="PrimitiveTypes.PrimitiveTypesPackage"
            genModel="model/JDTAST.genmodel"/>
   </extension>

</plugin>
