<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.emf.ecore.protocol_parser">
	<parser
		class="fr.inria.atlanmod.neoemf.resource.impl.PersistentResourceFactoryImpl"
		protocolName="neoemfmap">
	</parser>
	<parser
		class="fr.inria.atlanmod.neoemf.resource.impl.PersistentResourceFactoryImpl"
		protocolName="neoemfgraph">
	</parser>
	</extension>
</plugin>