<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.codegen.ecore.generatorAdapters">
      <!-- Adapter Factory -->
      <adapterFactory class="fr.inria.atlanmod.neo4emf.codegen.Neo4emfGeneratorAdapterFactory"/>
      <!-- Single Adapter -->
      <!--
      <adapter modelClass="GenModel" class="fr.inria.atlanmod.neo4emf.codegen.GenReltypesGeneratorAdapter"/>
      -->
   </extension>

</plugin>
