<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>

        <!-- The default console appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-7level{TRACE=[TRACE], DEBUG=[DEBUG], INFO=[INFO], WARN=[WARN], ERROR=[ERROR], FATAL=[FATAL]} %d{ABSOLUTE} - %msg%n%ex{full}" />
        </Console>

        <!-- A console appender without timestamp and exception details -->
        <Console name="ConsoleTest" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-7level{TRACE=[TRACE], DEBUG=[DEBUG], INFO=[INFO], WARN=[WARN], ERROR=[ERROR], FATAL=[FATAL]} %msg%n" />
        </Console>

        <!-- A console appender without any format -->
        <Console name="ConsoleVoid" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%msg%n" />
        </Console>

        <!-- The default file appender -->
        <RollingFile name="RollingFile" fileName="logs/neoemf.log"
                     filePattern="logs/neoemf-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout
                    pattern="%-7level{TRACE=[TRACE], DEBUG=[DEBUG], INFO=[INFO], WARN=[WARN], ERROR=[ERROR], FATAL=[FATAL]} %d{ABSOLUTE} - %msg%n%ex{full}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="RollingFile" />
        </Root>

        <!-- Logger for testing -->
        <Logger name="test" level="ALL" additivity="false">
            <AppenderRef ref="ConsoleTest" />
        </Logger>

        <!-- Unformatted logger -->
        <Logger name="void" level="ALL" additivity="false">
            <AppenderRef ref="ConsoleVoid" />
        </Logger>

        <!-- Apache & co -->

        <Logger name="org.apache" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.mortbay" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleTest" />
        </Logger>
        <Logger name="SecurityLogger" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleTest" />
        </Logger>
        <Logger name="BlockStateChange" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleTest" />
        </Logger>
    </Loggers>
</Configuration>