<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-7level{WARN=[WARN], DEBUG=[DEBUG], ERROR=[ERROR], TRACE=[TRACE], INFO=[INFO]} %d{ABSOLUTE} - %msg%n%ex{full}" />
        </Console>
        <Console name="ConsoleTest" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%msg%n" />
        </Console>
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>
        <Async name="AsyncConsoleTest">
            <AppenderRef ref="ConsoleTest"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="AsyncConsole" />
        </Root>
        <Logger name="org.apache.commons" level="OFF" additivity="false">
            <AppenderRef ref="AsyncConsole" />
        </Logger>
        <Logger name="test" level="ALL" additivity="false">
            <AppenderRef ref="AsyncConsoleTest" />
        </Logger>
    </Loggers>
</Configuration>