<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java-neoemf"
            class="org.eclipse.gmt.modisco.java.neoemf.meta.JavaPackage"
            genModel="model/java.xcore"/>
   </extension>

</plugin>
