<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
                class="fr.inria.atlanmod.neoemf.eclipse.ui.editor.NeoEMFEditor"
                contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
                default="false"
                icon="platform:/plugin/org.eclipse.emf.edit/icons/full/obj16/ModelFile.gif"
                id="fr.inria.atlanmod.neoemf.eclipse.ui.editor.NeoEMFEditor"
                name="NeoEMF Editor">
        </editor>
    </extension>
    <extension
            point="org.eclipse.emf.importer.modelImporterDescriptors">
        <modelImporterDescriptor
                description="Create the Ecore model based on other Ecore or EMOF models"
                extensions="ecore,emof"
                icon="icons/full/obj16/NeoEMFModelFile.gif"
                id="fr.inria.atlanmod.neoemf.ui.modelImporterDescriptor"
                name="Ecore model (NeoEMF Native)"
                wizard="fr.inria.atlanmod.neoemf.eclipse.ui.wizard.NeoEMFModelImporterWizard">
        </modelImporterDescriptor>
    </extension>
    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                allPopups="false"
                locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu
                    icon="icons/full/obj16/neoemf.png"
                    label="&amp;NeoEMF">
                <command
                        commandId="fr.inria.atlanmod.neoemf.eclipse.ui.migrate"
                        style="push">
                    <visibleWhen>
                        <with
                                variable="activeMenuSelection">
                            <iterate
                                    ifEmpty="false">
                                <adapt
                                        type="org.eclipse.core.resources.IFile">
                                    <test
                                            property="org.eclipse.core.resources.extension"
                                            value="genmodel">
                                    </test>
                                </adapt>
                            </iterate>
                        </with>
                    </visibleWhen>
                </command>
                <command
                        commandId="fr.inria.atlanmod.neoemf.eclipse.ui.openDB"
                        style="push">
                    <visibleWhen>
                        <with
                                variable="activeMenuSelection">
                            <iterate
                                    ifEmpty="false">
                                <adapt
                                        type="org.eclipse.core.resources.IFolder">
                                    <test
                                            property="fr.inria.atlanmod.neoemf.eclipse.ui.isNeoEMFDB"
                                            value="true">
                                    </test>
                                </adapt>
                            </iterate>
                        </with>
                    </visibleWhen>
                </command>
            </menu>
        </menuContribution>
        <menuContribution
                allPopups="false"
                locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                    commandId="fr.inria.atlanmod.neoemf.eclipse.ui.createDynamicInstance"
                    style="push">
                <visibleWhen>
                    <with
                            variable="activeMenuSelection">
                        <iterate
                                ifEmpty="false">
                            <adapt
                                    type="org.eclipse.emf.ecore.EClass">
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
    <extension
            point="org.eclipse.ui.commands">
        <command
                defaultHandler="fr.inria.atlanmod.neoemf.eclipse.ui.command.MigrateCommand"
                id="fr.inria.atlanmod.neoemf.eclipse.ui.migrate"
                name="&amp;Migrate EMF Generator Model">
        </command>
        <command
                defaultHandler="fr.inria.atlanmod.neoemf.eclipse.ui.command.OpenNeoEMFDbCommand"
                id="fr.inria.atlanmod.neoemf.eclipse.ui.openDB"
                name="&amp;Open Model Database">
        </command>
        <command
                defaultHandler="fr.inria.atlanmod.neoemf.eclipse.ui.command.CreateDynamicInstanceCommand"
                id="fr.inria.atlanmod.neoemf.eclipse.ui.createDynamicInstance"
                name="Create &amp;NeoEMF Dynamic Instance...">
        </command>
    </extension>
    <extension
            point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
                class="fr.inria.atlanmod.neoemf.eclipse.ui.tester.NeoEMFDatabase"
                id="fr.inria.atlanmod.neoemf.eclipse.ui.isNeoEMFDB"
                namespace="fr.inria.atlanmod.neoemf.eclipse.ui"
                properties="isNeoEMFDB"
                type="org.eclipse.core.resources.IFolder">
        </propertyTester>
    </extension>
    <extension
            point="org.eclipse.ui.decorators">
        <decorator
                adaptable="true"
                class="fr.inria.atlanmod.neoemf.eclipse.ui.decorator.NeoDBDecorator"
                id="fr.inria.atlanmod.neoemf.ui.neoDBDecorator"
                label="NeoEMF Database Folder Decorator"
                objectClass="org.eclipse.core.resources.IFolder"
                state="true">
        </decorator>
    </extension>
</plugin>
